<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    
    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }
        
        div {
            background-color: skyblue;
            border: 1px solid black;
            
            float: left;
            
        }
        
        div:first-child {
            width: 200px;
            height: 200px;
        }
        
        
    </style>
    
</head>

<body>

    <div>DIV1 안녕하세요</div>
    <div>DIV2 안녕하세요 DIV2 안녕하세요</div>
    <div>DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요</div>


<p>
책상을 다 않은 사랑과 위에 까닭이요, 파란 있습니다. 아무 하나에 때 별이 어머니 시인의 버리었습니다. 말 이네들은 나는 하나에 멀리 것은 무엇인지 있습니다. 사람들의 나는 어머니, 헤는 하나의 내일 내 가을로 하나 있습니다. 가을로 까닭이요, 같이 어머니 오면 마리아 내 있습니다.
</p>

<p>
마리아 같이 지나가는 가득 묻힌 소학교 책상을 그리워 하나에 까닭입니다. 소학교 하나에 이런 차 않은 하나 언덕 봅니다. 사랑과 차 아름다운 책상을 별 나의 내린 있습니다. 지나고 아직 사랑과 하나에 내 가난한 계십니다. 아이들의 부끄러운 가을로 것은 이국 같이 내 많은 듯합니다.
</p>


</body>

</html>
