<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }

        #wrapper > div {
            width: 150px;
            height: 150px;
            border: 1px solid black;

            display: inline-block;

            margin: 20px;
            padding: 15px;
        }
        
        #wrapper {
            text-align: center;
            
            width: 960px;
            margin: auto;
            
            border: 1px solid #ccc;
            
        }
    </style>

</head>

<body>
   
    <div id=wrapper>
        <div>Div 1</div>
        <div>Div 2</div>
        <div>Div 3</div>
    </div>

</body></html>
