<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ServletEx</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 톰캣서버에 서블릿 등록하기 -->
	<servlet>

		<!-- 톰캣에 등록할 서블릿의 이름 (변수명) -->
		<servlet-name>hi</servlet-name>

		<!-- 톰캣에 등록되는 서블릿클래스 (클래스의 이름) 패키지명을 포함하여 적어야 한다. -->
		<servlet-class>hello.HiServlet</servlet-class>

	</servlet>

	<!-- 요청 URL과 서블릿클래스를 1:1 매핑(서블릿매핑) -->
	<servlet-mapping>
		<servlet-name>hi</servlet-name>

		<!-- URL PATTERN 은 '/' 꼭 포함 -->
		<url-pattern>/hi</url-pattern>
	</servlet-mapping>






</web-app>





